﻿.title {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	margin-left: 5px;
	color: #000000;
}

.table_col {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  width: 660px;
  background: white;
  text-align: left;
  border-collapse: collapse;
  color: #000000;
}
.table_col th:first-child, .table_col td:first-child {
color: #ffffff;
border-left: none;
}
.table_col th {
font-weight: normal;
border-bottom: 2px solid #ffd147;
border-right: 20px solid white;
padding: 8px 10px;
}

.table_col td {
border-right: 20px solid white;
border-left: 20px solid white;
padding: 12px 10px;
color: #000000;
}

.standart_button{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    background: #C7DAF0 ;
}

.standart_button:hover {
    background-color: #ffd147;
    color: white;
}